{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-10 col-lg-8 mx-auto">
        <h2 class="not-found">404</h2>
        <p class="not-found">Page not found</p>
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary" role="button" href="/">Go back</a>
        </div>
    </div>
{% endblock %}