<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-4 d-flex justify-content-end align-items-center position-relative">
                <div class="logo"></div>
            </div>
            <div class="col-8 d-flex justify-content-start position-relative">
                <div class="site-heading">
                    <h1>{{ blogCustomization.header }}</h1><span class="subheading">{{ blogCustomization.headerDescription }}</span>
                </div>
            </div>
        </div>
    </div>
</header>