.logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: rgba(255,0,0,0);
  border: 3px solid var(--bs-blue);
}

@media (max-width: 768px) {
  .logo {
    width: 150px;
    height: 150px;
    margin-top: 50px;
  }
}

@media (max-width: 400px) {
  .logo {
    width: 100px;
    height: 100px;
    margin-top: 50px;
  }
}

header.masthead .site-heading {
  padding-bottom: 100px;
  padding-top: 100px;
}

