.logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: rgba(255,0,0,0);
  border: 3px solid var(--bs-blue);
}

@media (max-width: 768px) {
  .logo {
    width: 150px;
    height: 150px;
    margin-top: 50px;
  }
}

@media (max-width: 400px) {
  .logo {
    width: 100px;
    height: 100px;
    margin-top: 50px;
  }
}

header.masthead .site-heading {
  padding-bottom: 100px;
  padding-top: 100px;
}

.dashboard-footer-link {
  font-size: 17px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 9px;
}

p.copyright {
  margin-top: 12px;
}


/* Login form */

#login-box {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 25px !important;
  overflow: hidden;
  background: white;
  border-radius: 12px;
  border: 1px solid rgba(33,37,41,0.15);
}

.login-box-header {
  background-color: rgb(255,255,255);
  text-align: center;
  padding: 18px 25px 15px;
}

.login-box-header {
  border: none;
  border-bottom: 1px solid rgb(224,224,224);
}

.login-box-header h4 {
  font-weight: 400;
  font-size: 27px;
  color: rgb(139,139,139);
}

.login-box-content {
  background-color: #ffffff;
  padding: 20px 20px 10px;
}

.login-box-content i {
  color: white;
  padding: 11px 20px;
  font-size: 18px;
}

#login-box .box-shadow {
  box-shadow: 0 2px 2px 0 rgba(41,48,59,.24), 0 0 2px 0 rgba(41,48,59,.12);
  border-radius: 5px;
}

.email-input {
  border-radius: 5px;
  color: #29303b;
  font-size: 18px;
  height: auto;
  padding: 11px 10px 12px 40px;
}

.form-control {
  box-shadow: none;
  font-size: 16px;
  padding: 10px 12px;
  transition: border-color .08s ease-in-out,box-shadow .08s ease-in-out;
  margin-top: 10px;
}

.email-login {
  padding: 10px 20px;
}

#submit-id-submit {
  margin-top: 0;
  height: 46px;
  background-color: #007b95;
  border: 0;
  color: rgb(255,255,255);
  margin-bottom: 8px;
  padding-top: 0;
  padding-bottom: 0;
}

.submit-row {
  padding: 10px 20px;
  text-align: center;
}

.label-text {
  color: #8b8b8b;
}

#forgot-password-link {
}

#login-box-footer {
  text-align: center;
  border-top: 1px solid #dedfe0;
  padding: 18px 20px 23px;
}

#register-link {
  color: #2474c1;
  padding: 0 10px;
  text-decoration: none;
}

#login-box-footer p {
  color: #8b8b8b;
}

#submit-id-submit:hover {
  background-color: rgb(0,133,161);
}

/* Posts related */

@media only screen and (min-width: 768px) {
  .post-title {
    font-size: 36px;
  }
}

.post-title {
  font-size: 34px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.post-subtitle {
  font-weight: 300;
  margin: 0 0 10px;
}

.post-meta {
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  color: #6c757d;
}

.post-meta .author {
  color: #212529;
}

/* Pagination */

.pagination {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.pagination input {
  width: 42px;
}

/* Comments */

@media (max-width: 360px) {
  .comment-dot {
    display: none;
  }
  .comment-header {
    display: block !important;
  }
}

.comment-submit {
  height: 50px;
  width: 120px;
  padding: 15px;
  border-radius: 0.375rem;
  margin-top: 9px;
}

.comment-input {
  margin-right: 1rem;
}

.comment {
  margin-top: 2rem;
}

.comment-header {
  column-gap: 10px;
}

.comment-dot {
  height: 7px;
  width: 7px;
  margin-top: 3px;
  margin-bottom: .25rem;
  background-color: #bbb;
  border-radius: 50%;
}

.comment-date {
  margin-bottom: .25rem;
  font-weight: 400;
  font-size: 16px;
  color: #6c757d;
}

.comment-author {
  font-size: 20px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: .5rem;
}

.comment-unvalidated {
  font-style: italic;
  font-size: 18px;
  margin-bottom: .25rem;
}

.comment-content.unvalidated {
  opacity: 0.4;
}

/* 404 page */

h2.not-found {
  font-size: 80px;
  text-align: center;
  margin-bottom: 0;
}

p.not-found {
  margin-top: 0;
  margin-bottom: 35px;
  font-weight: bold;
  font-size: 23px;
  text-align: center;
}

/* Admin dashboard */

.dashboard-borders {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to bottom, gray, rgba(0, 0, 0, 0)) 1 100%;
}

.dashboard-menu-header {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 25px;
}

.dashboard-menu a {
  text-decoration: underline;
}

/* Admin Tables */

.table-responsive thead {
  font-size: 18px;
}

.table-responsive tbody {
  font-size: 16px;
}

td.hidden {
  display:none;
}

td form {
  display: inline-block;
}

td select {
  width: 100%
}

.table-btn {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
}

.table-btn  + .table-btn  {
  margin-left: 5px;
}

.btn-edit {
  background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
  background-repeat: repeat-x;
  text-shadow: 0 1px 0 #fff;
  border-color: #ccc;
  transition: none;
  color: #333;
}

.btn-edit:hover {
  background-color: #e0e0e0;
  background-position: 0 -15px;
  color: #333;
  border-color: #adadad;
}

.btn-edit:active {
  background-color: #e0e0e0;
  border-color: #dbdbdb;
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  outline: 0;
}

.btn-edit:focus {
  background-color: #e0e0e0;
  color: #333;
  border-color: #8c8c8c;
}

.btn-delete {
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
  background-image: linear-gradient(to bottom,#d9534f 0,#c12e2a 100%);
  background-repeat: repeat-x;
  border-color: #b92c28;
  transition: none;
  color: white;
}

.btn-delete:active {
  background-color: #c12e2a;
  background-position: 0 -15px;
  color: #fff;
  border-color: #ac2925;
}

.btn-delete:hover {
  background-color: #c12e2a;
  border-color: #b92c28;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  color: #fff;
}

.btn-delete:focus {
  box-shadow: none;
  --bs-btn-focus-shadow-rgb: none;
}

/* Admin comments */

.admin-validate-comment {
  margin-left : auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.admin-validate-comment label {
  font-weight: 600;
  text-decoration: underline;
}

.admin-validate-comment label, .admin-validate-comment input {
  cursor: pointer;
}

.admin-validate-comment input {
  margin-top: .35em;
}

.admin-comments-buttons {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 10px;
}






