<!DOCTYPE html>
<html lang="FR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Home - Brand</title>
        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;display=swap">
        <link rel="stylesheet" href="fonts/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="css/main.css" type="text/css">
        <script src="js/bootstrap.min.js"></script>
        <script src="js/blog.js"></script>
    </head>
    <body>
    {% include('layouts/nav.html.twig') %}
    {% include('layouts/header.html.twig') %}
    <div class="container">
        {% for errorMessage in session.getErrorMessages() %}
        <p>{{ errorMessage }}</p>
        {% endfor %}
        {% block body %}{% endblock %}
    </div>
    {% include('layouts/footer.html.twig') %}
    </body>
</html>