<!DOCTYPE html>
<html lang="EN">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;display=swap">
        <link rel="stylesheet" href="/fonts/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="/css/main.css" type="text/css">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/blog.js"></script>
        {% block head %}{% endblock %}
    </head>
    <body>
    {% include('layouts/nav.html.twig') %}
    {% include('layouts/header.html.twig') %}
    <div class="container">
        {% for message in session.getMessages() %}
            <div class="alert alert-dismissible alert-{{ message.type }}" role="alert">
                <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                <span>{{ message.content }}</span>
            </div>
        {% endfor %}
        {% block body %}{% endblock %}
    </div>
    {% include('layouts/footer.html.twig') %}
    </body>
</html>